/*Font Family*/
@font-face {
  font-family: "Caveat";
  src: url("Fonts/caveat/caveat-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("Fonts/caveat/caveat-variablefont_wght-webfont.woff") format("woff");
}

/*html*/
html {
  font-size: 14px;
  margin: -0.4em;
  height: 140em;
  background: repeat-x linear-gradient(#21f03c, #bf29ec);
  background-size: 100%;
}
/*
body {
  
}*/

/*FLEXBOX*/
#homepage {
  display: flex;
}

/*Hero*/

#hero {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50em;
  height: 28em;
  left: 0em;
  top: 0em;

  background: no-repeat url("images/jpGarden.jpg");
  background-size: 26em;
}

#heroText1 {
  background: no-repeat #bf29ec;
  position: inherit;
  width: auto;
  height: 4.5em;
  margin-top: 3.2em;
  margin-left: -25em;
  padding: 1em;
  border-radius: 1.7em;
}

/*Text*/
h1 {
  font-family: "Caveat", cursive;
  color: #fff;
}

h2 {
  padding-bottom: -3em;
  font-family: "Caveat", cursive;
  color: #fff;
}

p {
  font-family: "Caveat", cursive;
  font-size: 16px;
  color: white;
}

/*Hobbies*/
.hobby {
  display: flex;
  position: relative;
  width: 100em;
  height: 100em;
  left: 1.3em;
  top: 17em;
  flex-direction: column;

  background: transparent;
}

/*Hobby Images*/
.hbyImg {
  background: transparent;
  max-width: 35em;
  padding-top: -2.7em;
}

/*Karaoke*/
#karaokeImg {
  width: auto;
  height: auto;
}

/*Gaming*/
#gamingImg {
  width: auto;
  height: auto;
  /*left: 314em;
  top: 113em;*/
}

/*Anime*/
#animeImg {
  width: auto;
  height: auto;
}

/*Manga*/
#mangaImg {
  width: auto;
  height: auto;
}

/*.maskGroup {
  border: #eb1a1a solid 2px;
}*/

.imgDesc {
  /* border: solid darkblue 1px;*/
  margin-top: 1em;
  max-width: 20.8em;
  justify-content: center;
  border-radius: 1em;
  padding: 0.5em;
  background: #272727;
}

/*Wrapper*/
.textWrap {
  flex-wrap: wrap;
}
