/*Font Family*/

/*FLEXBOX*/
#homepage {
  position: relative;
  width: 720px;
  height: 1115px;
  background: #ffffff;
}

/*Hero*/
#hero {
  position: absolute;
  width: 720px;
  height: 343px;
  left: 0px;
  top: 0px;

  background: url(images/jpGarden.jpg) /*#ffffff*/;
}

/*Hobbies*/
.hobby {
  /*display: flex;
  justify-content: center;*/
  position: absolute;
  width: 720px;
  height: 378px;
  left: 0px;
  top: 343px;

  background: #f1faee;
}

/*Hobby Images*/
.hbyImg {
  background: #c84ce3;
}

/*Karaoke*/
#karaokeMask {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 83px;
  top: 114px;
}

#karaokeImg {
  width: 120px;
  height: 100px;
}

/*Gaming*/
#gamingImg {
  position: absolute;
  width: 103.97px;
  height: 103.97px;
  left: 314px;
  top: 113px;
}

#gamingMask {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 314px;
  top: 113px;
}

/*Anime*/
/*#animeImg {
}*/

/*Manga*/
/*#mangaImg {
}*/

/*Mask Group*/
.maskGroup {
  width: 100px;
  height: 100px;
}

/*Eclipse*/
.eclipse {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 314px;
  top: 113px;

  background: #c4c4c4;
}
/**/
