
/*FLEXBOX*/
body {
    display: flexbox;
    position: relative;
    width: 720px;
    height: 1115px;
    background: #f1faee;
}


/*Hero*/
#hero{
    position: absolute;
    height: 343px;
    background: #FFFFFF;
    left: 0px;
    top: 0px;
    border: solid blue;
}



/*Hobbies*/
.hobby{
height: 378px;
left: 0 ;
top: 343px;
border: solid red;
}